// bower:scss
@import "jeet/scss/jeet/index.scss";
// endbower

$primaryFontStack: "Helvetica", Arial, sans-serif;

$dfs: 14;

$primaryColor: #000000;
$secondaryColor: #FFFFFF;

body {

	background: #FFFFFF;	/// TO SE MORE DAT ŠTIMAT

	font: ($dfs/16)*1em $primaryFontStack;
	letter-spacing: (2/18)*1em;
	line-height: 28/16;
	
	margin: 0 0.5em;

	header {
		
		$headerfs: 18;
		
		position: fixed;
		z-index: 999;
		
		top: 0.5em;
		left: 0.5em;
		right: 0.5em;
		
		font-size: $headerfs/$dfs*1em;
		
		nav {
			
			a {
				
				color: $primaryColor;
				text-decoration: none;
			}
			
			a:not(#logo):hover {
				border: none;
			}
			
			a:not(#logo) {
				
// 				margin-right: 3em;
				
				letter-spacing: (3.36/$headerfs)*1em; // 0.21em za 16px

				
				border-bottom: 1px solid black;
				padding-bottom: 2/$headerfs*1em;

			}
			
			a#project {
				display: none;
			}
			
			a#logo {
				
				float: right;
				
				letter-spacing: (5.5/$headerfs)*1em; // 0.21em za 16px
				
				span {
					display: inline-block;
					position: relative;
				}
				
				span#logo-1 {  } // k
				span#logo-2 { transform: rotate(15deg); top: (1/$headerfs)*1em; } // l
				span#logo-3 { transform: rotate(30deg); top: (2/$headerfs)*1em; } // e
				span#logo-4 { transform: rotate(45deg); top: (2.5/$headerfs)*1em; } // m
				span#logo-5 { transform: rotate(60deg); top: (3/$headerfs)*1em; } // e
				span#logo-6 { transform: rotate(75deg); top: (4/$headerfs)*1em; } // n
				
				span#logo-7 { transform: rotate(90deg); top: (3/$headerfs)*1em; } // i
				span#logo-8 { transform: rotate(72deg); top: (5/$headerfs)*1em; left: (0/$headerfs)*1em; } // l
				span#logo-9 { transform: rotate(54deg); top: (-3/$headerfs)*1em;left: (4/$headerfs)*1em; } // o
				span#logo-10 { transform: rotate(36deg); top: (-7/$headerfs)*1em; left: (2/$headerfs)*1em; } // v
				span#logo-11 { transform: rotate(18deg); top: (-12/$headerfs)*1em; left: (3/$headerfs)*1em; } // a
				span#logo-12 { top: (-15/$headerfs)*1em; } // r
				
				span.under {
					clear: both;
					float: right;
					line-height: 0;
				}
			}
		}
	}
	
	section {

		margin-top: 8em;
	}
	
	section {
		
		position: relative;
		
		aside {
			
			@include col(1/2, 0, 0, 0, 0);
			position: absolute;
			z-index: 2;
		}
		
		main {
							
			box-sizing: border-box;
			text-align: center;
				
			img {
				
				display: none;
								
				position: relative;
				max-width: 100%;
				height: auto;
				
				//max-height: 20em;
			}
			
			img.visible {
				display: inline-block;
				//cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAMUlEQVQYGWNgwA3+45bClCFdMSPQEKJ0sfz/j18dIyMjAyE1IBcD1RAwiVhFINNQAADjyxP1d+sOeQAAAABJRU5ErkJggg==), auto;			
				cursor: e-resize;
			}
		}
		
	}
	
	section.about-contact {
		
		@include center(1200px);
		
		display: none;
		
		h2 {
			
			margin: 1.5em;
			text-transform: uppercase;
		}
	}
	
	div#camera {
		
		display: none;
		
		$imgSize: 13;
	
		position: fixed;
		z-index: 900;
		left: 4em;
		bottom: 16em;
		
		border: 1/$dfs*1em solid $primaryColor;
		width: (1+$imgSize+(1/$dfs))*1em;
		height: 1em;
		
		background: $secondaryColor;
		
		div#photo-wrapper {
						
			margin-top: 0.5em;
			
			overflow: hidden;
			
			div#photo {
				
				position: relative;
				
				border: 1/$dfs*1em solid $primaryColor;
				
				width: $imgSize*1em;
				height: $imgSize*1em;
				
				margin-left: 0.5em;
				margin-right: 0.5em;
				
				margin-top: (-1-$imgSize)*1em;
				
				background: $secondaryColor;
				
				img {
					@include align();
					
					min-width: 75%;
					max-width: 100%;
				}
			}
		}
	}
	
	img.flash {
		position: fixed;
		
		width: 100%;
		height: 100%;
		
		top: 0; right: 0; bottom: 0; left: 0;
	}
	
	.flash {
		display: none;
		
	}
}

/* MOBILE & TABLET*/
@media only screen and (max-width : (1024/16)*1em) {
	
	body {
		
		font-size: 12px;
		
		section.project {
			
			aside {
				
			}
			
			main {

			}
		}
	}
}

/* REGULAR DESKTOP */
@media only screen and (min-width : (1024/16)*1em) and (max-width : (1280/16)*1em) {

}

/* LARGE DESKTOP */
@media only screen and (min-width : (1281/16)*1em) {
	
	body {
		
		font-size: 16px;
	}
}